<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tank.mapper.ex.BasBusinessExMapper">
  <insert id="insertBackId" parameterType="com.tank.model.BasBusiness" keyProperty="id" useGeneratedKeys="true">
    insert into bas_business
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="longitude != null" >
        LONGITUDE,
      </if>
      <if test="latitude != null" >
        LATITUDE,
      </if>
      <if test="region != null" >
        REGION,
      </if>
      <if test="regionname != null" >
        REGIONNAME,
      </if>
      <if test="picurl != null" >
        PICURL,
      </if>
      <if test="introduce != null" >
        INTRODUCE,
      </if>
      <if test="telephone != null" >
        TELEPHONE,
      </if>
      <if test="spell != null" >
        SPELL,
      </if>
      <if test="website != null" >
        WEBSITE,
      </if>
      <if test="servertime != null" >
        SERVERTIME,
      </if>
      <if test="flag != null" >
        FLAG,
      </if>
      <if test="createdate != null" >
        CREATEDATE,
      </if>
      <if test="createuser != null" >
        CREATEUSER,
      </if>
      <if test="lastmodifyuser != null" >
        LASTMODIFYUSER,
      </if>
      <if test="lastmodifydate != null" >
        LASTMODIFYDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DECIMAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DECIMAL},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="regionname != null" >
        #{regionname,jdbcType=VARCHAR},
      </if>
      <if test="picurl != null" >
        #{picurl,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="spell != null" >
        #{spell,jdbcType=VARCHAR},
      </if>
      <if test="website != null" >
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="servertime != null" >
        #{servertime,jdbcType=VARCHAR},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=TINYINT},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=TIMESTAMP},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=BIGINT},
      </if>
      <if test="lastmodifyuser != null" >
        #{lastmodifyuser,jdbcType=BIGINT},
      </if>
      <if test="lastmodifydate != null" >
        #{lastmodifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>